body {
  background-color: #eee !important;
}

.drawer-paper {
  width: 300px;
}

.button-group {
  display: flex;
}
.button-group button {
  flex: 1 1 0;
  cursor: pointer;
}

.grid-header {
  color: darkgrey;
  padding: 15px 20px;
}
.grid-container {
  padding: 20px;
  line-height: 32px;
}

.colors {
  margin-bottom: 30px;
}
.color-item {
  position: relative;
  padding-top: 100%;
  cursor: pointer;
}
.color-item .selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #eee;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 320px;
}
.container {
  position: relative;
  width: 288px;
  height: 288px;
  margin: 150px 0 20px;
}
.grid,
.shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.grid img{
  display: block;
  width: 100%;
}
.shape svg{
  width: 100%;
  height: 100%;
}