.drawer-paper {
  width: 300px;
}

.button-group {
  display: flex;
}
.button-group button {
  flex: 1 1 0;
  cursor: pointer;
}

.grid-header {
  color: darkgrey;
  padding: 15px 20px;
}
.grid-container {
  padding: 20px;
  line-height: 32px;
}

.colors {
  margin-bottom: 30px;
}
.color-item {
  position: relative;
  padding-top: 100%;
  cursor: pointer;
}
.color-item .selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #eee;
}

.showcase {
  margin: 0 0 0 320px;
}
